[submodule "lib/logger"]
	path = lib/logger
	url = https://github.com/bondeje/logger.git
[submodule "TypeMemPools"]
	path = lib/TypeMemPools
	url = https://github.com/bondeje/TypeMemPools.git
[submodule "lib/lexre"]
	path = lib/lexre
	url = https://github.com/bondeje/lexre.git
